<h3>Active logs</h3>
<table class="table table-striped">
  <thead>
    <tr><th>Topic</th>
    <th>Category</th>
    <th>Activity</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="log in logs">
      <td><a ng-href="/#/log/{{ log._id }}">{{ log.topic }}</a></td>
      <td>{{ log.category }}</td>
      <td>
        <a class="btn btn-primary" ng-click="start(log._id)">
          <span class='glyphicon glyphicon-circle-arrow-right'></span>
        </a>
        <a class="btn btn-danger" ng-click="stop(log._id)">
          <span class='glyphicon glyphicon-stop'></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>